

  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    /* padding: 1rem; */
    margin-top: 10px;
  }

  .containered {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }

  .about-section {
    display: flex;
    align-items: center;
  }

  .about-image {
    flex: 1;
    margin-right: 2rem;
  }

  .about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .about-content {
    flex: 1;
  }
  .hire{
    padding: 5px 5px;
    list-style: none;
    color:white;
    background-color:black;
    border: 1px solid black;
    border-radius: 3px;
  }
  .hire:hover{
    padding-right: 25px;
    margin-right: 25px;
    color: white;
    transition: 0.5s;
  }